<div ng-repeat="chart in charts">
  <div class="row">

    <div class="col-xs-12">
      <highchart config="charts[$index]"></highchart>
    </div>
  </div>
</div>

<!--<highchart config="getData(chart,'wetness')"></highchart>-->
<!--<div class="row">-->
<!--<div class="col-xs-12 text-center">-->
<!--{{chart.name}}-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<canvas linechart options="options" data="getData(chart,'temperature')"></canvas>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<canvas linechart options="options" data="getData(chart,'wetness')"></canvas>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
